@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<MyTask>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                     <a class="btn btn-outline-info w-100" href="@Url.Action("Create", "MyTask")">Create a new task</a>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-hover table-info table-striped">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                             <th>
                                 User
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        @if(Model != null && Model.Count > 0)
                        {
                            foreach (MyTask t in Model)
                            {
                                <tr>
                                    <th>
                                        @t.Id
                                    </th>
                                    <th>
                                        @t.Name
                                        <input type="text" name="Name" value="@t.Name"></input>
                                    </th>
                                    <th>
                                        @t.Description
                                    </th>
                                    <th>
                                        @t?.Account?.Id
                                    </th>
                                    <th>
                                        @t?.Category?.Name
                                        <input type="text" name="Description" value="@t.Description" disabled class="form-control m-100" />

                                    </th>
                                    <th>
                                        <form asp-action="Remove" asp-controller="MyTask" method="POST">
                                            <input type="hidden" name="id" value="@t.Id" />
                                            <button class="btn btn-outline-danger w-100" onclick="return confirm('Bạn có chắc muốn xóa?');">
                                                Remove
                                            </button>
                                        </form>
                                    </th>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    // 1. Enable Editing Mode
    function enableEditing(id) {
        // Toggle UI: Show inputs, hide text
        document.getElementById("name-input-" + id).disabled = false;
        document.getElementById("description-input-" + id).disabled = false;

        // Toggle Buttons: Hide "Edit", Show "Save"
        document.getElementById("btn-enabl-editing-" + id).classList.add("d-none");
        document.getElementById("btn-subit-edit-" + id).classList.remove("d-none");
    }

    // 2. Submit Logic (The "Solid" Way)
    function submitEdit(id) {
        // A. Get values from inputs
        var nameVal = document.getElementById("name-input-" + id).value; // Fixed .Value to .value
        var descVal = document.getElementById("description-input-" + id).value;

        // B. Prepare Form Data
        var formData = new FormData();
        formData.append("id", id);
        formData.append("name", nameVal);
        formData.append("description", descVal);

        // C. Send to Server using Fetch API (Modern & Clean)
        fetch('/MyTask/Edit', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                alert('Update successfully!');
                window.location.reload(); // Reload to reflect changes
            } else {
                alert('Update failed. Server returned error.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while sending data.');
        });
    }
</script>


@* 
<script>
    // chưa hiểu lắm logic phần này // quan trọng phần nào cần nhận gửi những gì truyền cái gì quy tắc truyền là gì truyền như thế nào khi nào truyền // lại có những quy tắc nào để cho solid hơn 
    function enableEditing(id){
        var nameInput = document.getElementById("name-input-"+id)
        var descriptionInput = document.getElementById("description-input-"+id)
        var btnEnablEditing = document.getElementById("btn-enabl-editing-"+id)
        var btnSubitEdit = document.getElementById("btn-subit-edit-"+id)
        // nút submit ẩn cho tới khi ấn nút edit 
        
        nameInput.disabled = false;
        
        descriptionInput 
        btnEnablEditing.classList.add("d-none")
        btnSubitEdit.classList.remove("d-none")
        // đang code scrip phần edit trong CRUB 
    }
    function submitEdit(id){
        var nameInput = document.getElementById("name-input-"+id)
        var descriptionInput = document.getElementById("name-input-"+id)
        var name = nameInput.Value;
        var description = nameInput.Value;
        // dùng XHR
        // dùng XML request
        console.log("id="+id);



        var xhr = new XMLHttpRequest();


        xhr.open('POST', 'Mytask/Edit',true);
        xhr.setRequestHeader('Content-Type','application/x-www-form-urleancoded');

        xhr.onload = function(){
            if(xhr.status == 200){
                try{
                    var response = JSON.parse(xhr.responseText);
                    if(response.success){
                        alert('Update successfully');
                        window.location.reload();
                    }
                }catch{
                    error.log(e)
                }
            }
        }
        xhr.onerror = function(){
            alert('error throw'); 
        }
        var data = 'id=' + encodeURIComponent(id);
            
    }



</script> *@